.nfd-cont {
  width: 400px;
}

.nfd-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0 0.5rem;
}

.nfd-field {
  width: 100%;
}

.nfd-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  width: 100%;
}