.ofd-path {
  width: calc(100% - (2 * 0.25rem));
  margin: 0 0.25rem 0.25rem 0.25rem;
}
.ofd-path-cont {
  width: 100%;
  overflow: hidden;
  background-color: whitesmoke;
  padding: 0.25rem;
  font-size: 12px !important;
}
.ofd-cont {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  width: 600px;
  height: 200px;
  font-size: 12px !important;
  padding: 0 0.25rem;
}
.ofd-left {
  width: 29.5%;
  height: 100%;
  overflow: auto;
  background-color: whitesmoke;
}
.ofd-right {
  width: 69.5%;
  height: 100%;
  overflow: auto;
  background-color: whitesmoke;
}

.ofd-dir {
  cursor: pointer;
  width: 100%;

  &:hover {
    color: white;
    background-color: #3f51b5;
  }
}
.ofd-file {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &:hover {
    color: white;
    background-color: #3f51b5;
  }
}

.ofd-indent {
  padding: 0 0.5rem;
}
.ofd-selected {
  color: black;
  background-color: goldenrod;
}
.ofd-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  width: 100%;
}
.ofd-error {
  width: calc(100% - (2 * 0.25rem));
  margin: 0.25rem;
}
.ofd-error-cont {
  width: 100%;
  overflow: hidden;
  color: crimson;
  padding: 0.25rem;
  font-size: 12px !important;
  height: 30px;
}
