<div mat-dialog-title>Open file</div>

<div class="ofd-path">
  <div class="ofd-path-cont">{{this.workDir}}</div>
</div>

<div class="ofd-cont">
  <div class="ofd-left">
    <div *ngFor="let item of dirs; index as i">
      <div class="ofd-dir ofd-indent" (click)="selectDir(i)">
        <span *ngIf="item.type == fileTypeEnum.PARENT">..</span>
        <span *ngIf="item.type != fileTypeEnum.PARENT">{{item.name}}</span>
      </div>
      <!-- <div class="ofd-dir ofd-indent" *ngIf="item.type == fileTypeEnum.PARENT; then showUp else showDirName"></div>
      <ng-template #showUp>..</ng-template>
      <ng-template #showDirName>{{item.name}}</ng-template> -->
      <!-- <div class="ofd-dir ofd-indent">{{item.name}}</div> -->
    </div>
  </div>

  <div class="ofd-right">
    <div *ngFor="let item of files; index as i">
      <div class="ofd-file ofd-indent" [ngClass]="{'ofd-selected' : i == selectedFileIndex}" (click)="selectFile(i)">
        <span>{{item.name}}</span>
        <span>{{util.formatFileSize(item.size)}}</span>
      </div>
    </div>
  </div>
</div>

<div class="ofd-error">
  <div class="ofd-error-cont">{{this.errorMessage}}</div>
</div>

<div mat-dialog-actions class="ofd-footer">
  <button mat-button (click)="closeDialog(true)">Cancel</button>
  <button mat-button mat-raised-button color="primary" (click)="closeDialog(false)" [disabled]="this.selectedFileIndex < 0">Open</button>
</div>
