@use "styles/app";
@use "styles/new-file-dialog";
@use "styles/open-file-dialog";

html, body { height: 100%; box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body { font-size: 16px; font-family: Roboto, "Helvetica Neue", sans-serif; font-weight: normal; }
body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; }
