<div mat-dialog-title>New file</div>

<div mat-dialog-content class="nfd-cont">
  <form class="nfd-form">

    <mat-form-field class="nfd-field">
      <mat-label>File name</mat-label>
      <input type="text" matInput [(ngModel)]="file.name" cdkFocusInitial [ngModelOptions]="{ standalone: true }">
      <!-- <input type="text" matInput [(ngModel)]="file.name" cdkFocusInitial> -->
      <mat-error *ngIf="!file.name">
        Enter file name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="nfd-field">
      <mat-label>File type</mat-label>
      <mat-select [(value)]="file.language">
        <mat-option *ngFor="let language of languages" [value]="language.value">{{language.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions class="nfd-footer">
  <button mat-button (click)="closeDialog({})">Cancel</button>
  <button mat-button mat-raised-button color="primary" (click)="closeDialog(file)">Create</button>
</div>
